<div id="map">
</div>

<p id="address"></p>

<script>
  var sample1 = {lat: 35.685175, lng: 139.7528};
  var sample2 = {lat: -34.397, lng: 150.644};
  function initMap(){
    let map = new google.maps.Map(document.getElementById('map'), {
      center: sample1,
      zoom: 15
    });

    var geocoder = new google.maps.Geocoder();
    geocoder.geocode({
    location: {lat: 35.681167, lng: 139.767052}
      }, function(results, status) {
      if (status !== 'OK') {
        alert('Failed: ' + status);
        return;
    }
      // results[0].formatted_address
      if (results[0]) {
            document.getElementById('address').innerHTML =  results[0].formatted_address;
        } else {
          alert('場所が特定できません。');
          return;
        }
    }); 
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCAxfPG_FnlyFNjBQ61-MIfhggMLUuNTT0&callback=initMap" async defer></script>