<div class="alert alert-secondary" role="alert">
  <div class="alert alert-light" role="alert">
    <div class="text-center">
      <h3><strong style="color:dimgray"><%= @coordinate.name %></strong></h3>
      <%= attachment_image_tag @coordinate, :image, :fill, 200, 130, size: "200x130", fallback: "no_image.jpg", id: 'coord_img' %>
      <hr class="show-hr">
      <div class="row">
        <div class="col-sm-6 offset-3">
          <table class="table table-borderless">
            <tbody>
              <tr>
                <td style="color: #555555;">メモ：</td>
                <% if @coordinate.memo.nil? %>
                  <td>----------</td>
                <% else %>
                  <td><%= @coordinate.memo %></td>
                <% end %>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-10 offset-1 alert alert-secondary">
          <div class="row">
            <div class="col-sm-4">
              <div class="alert alert-light">
                <strong style="color: #555555;">和式</strong>
                <hr class="show-hr">
                <% if @facility.toilet_jp %>
                  <i class="far fa-circle"></i>
                <% else %>
                  <br>
                <% end %>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="alert alert-light">
                <strong style="color: #555555;">洋式</strong>
                <hr class="show-hr">
                <% if @facility.toilet_west %>
                  <i class="far fa-circle"></i>
                <% else %>
                  <br>
                <% end %>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="alert alert-light">
                <strong style="color: #555555;">ウォシュレット</strong>
                <hr class="show-hr">
                <% if @facility.washlet %>
                  <i class="far fa-circle"></i>
                <% else %>
                  <br>
                <% end %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="alert alert-light">
                <strong style="color: #555555;">パウダールーム</strong>
                <hr class="show-hr">
                <% if @facility.powder_room %>
                  <i class="far fa-circle"></i>
                <% else %>
                  <br>
                <% end %>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="alert alert-light">
                <strong style="color: #555555;">おむつ交換台設備</strong>
                <hr class="show-hr">
                <% if @facility.changing_table %>
                  <i class="far fa-circle"></i>
                <% else %>
                  <br>
                <% end %>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="alert alert-light">
                <strong style="color: #555555;">オストメイト</strong>
                <hr class="show-hr">
                <% if @facility.ostomate %>
                  <i class="far fa-circle"></i>
                <% else %>
                  <br>
                <% end %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="alert alert-light">
                <strong style="color: #555555;">誰でもトイレ</strong>
                <hr class="show-hr">
                <% if @facility.can_everyone %>
                  <i class="far fa-circle"></i>
                <% else %>
                  <br>
                <% end %>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="alert alert-light">
                <strong style="color: #555555;">男女別</strong>
                <hr class="show-hr">
                <% if @facility.gender_separation %>
                  <i class="far fa-circle"></i>
                <% else %>
                  <br>
                <% end %>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="alert alert-light">
                <strong style="color: #555555;">車いす対応</strong>
                <hr class="show-hr">
                <% if @facility.wheelchair %>
                  <i class="far fa-circle"></i>
                <% else %>
                  <br>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <div class="row">
      <div class="col-sm-10 offset-1">
        <canvas id="myChart"></canvas>
      </div>
    </div>
    </div>
  </div>
</div>

<script>
  var ctx = document.getElementById("myChart");
  var myChart = new Chart(ctx, {
    type: 'radar',
    data: {
      // labels: gon.evaluation_columns,
      labels: ["清潔感", "広さ", "高級感", "人の出入り", "プライバシー保護"],
      datasets: [{
        label: 'トイレ評価',
        backgroundColor: "rgba(226,227,229,0.6)",
        borderColor: "rgba(214,216,219,1)",
        data: gon.data
      }]
    },
    options: {
      legend: {
        display: false
      },
      scale: {
        gridLines: {
            lineWidth: [1, 1, 1, 1, 1]
        },
        ticks: {
          min: 0,
          max: 5,
          stepSize: 1,
          display: false                             
        }
      }
    }
  });
</script>